.player {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 16px;

  .track {
    &__info {
      background-color: red;

      &--artwork {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid green;
        border-radius: 8px;
        height: 318px;
        width: 318px;

        icon {
          font-size: 32px;
        }
      }
    }

    &__list {
      background-color: blue;
    }
  }
  background-color: rgba($slate-200, 0.8);
}