.view {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
      display: flex;
      height: 100%;
      width: 100%;
      z-index: 2;
  }

  &__container {
      width: 100%;
  }

  // todo: remove background class from viewFormat
  .background {
      position: absolute;
      z-index: 1;
  }
  
  &.d__view .view__content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 350px 50px;

      div {
        outline: 1px solid rgba($blue-500, 0.4);
      }
  }
}

@media screen and (max-width: 800px) {
  .view.d__view .view__content {
    display: flex;
  }
}